---
import './src/styles/global.css'; // use tailwindcss

// Astroにようこそ！この3つのハイフンのコードフェンスの中にあるものは、
// 「コンポーネントのフロントマター」です。ブラウザで実行されることはありません。
console.log("ここはブラウザではなく、ターミナルで実行されます！");
---

<!-- 以下は「コンポーネントテンプレート」です。単なるHTMLですが、
    素晴らしいテンプレートを作成するための魔法が散りばめられています。 -->
<html>
    <body>
        <h1 class="text-3xl font-bold text-yellow-500">Hello, World!</h1>
    </body>
</html>
