---
import "./src/styles/global.css"; // use tailwindcss
import { Content as IndexContent } from "../components/index-ja.md";
---

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>nukanoto</title>
    </head>
    <body>
        <article class="prose lg:prose-xl">
            <IndexContent />
        </article>
    </body>
</html>
