---
import "./src/styles/global.css"; // use tailwindcss
import { Content as IndexContent } from "../components/index-ja.md";
---

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>nukanoto</title>
    </head>
    <body>
        <article
            class="prose lg:prose-xl mx-auto my-4 px-4 py-8 max-w-2xl
            prose-headings:text-xl prose-headings:pl-4 prose-headings:py-2 prose-headings:mb-2 prose-headings:border-slate-900 prose-headings:border-l-4 prose-headings:my-6
            prose-li:my-1"
        >
            <IndexContent />
        </article>
    </body>
</html>
